<div id="todo"></div>
<div class="view">
    <input id="todo_complete" type="checkbox" checked={{completed}} />
    <label>{{title}}</label>
    <button class="destroy"></button>
</div>
<input class="edit" value={{title}}>
